{% set mainMenuLinks = craft.entries({
    section: 'mainNavigation',
    with: ['children', 'children.children']
}).all() %}

<div class="main-navigation--menu">
    <ul class="menu">
        {# Primary items #}
        {% for topLevelLink in mainMenuLinks if topLevelLink.level == 1 %}
        <li class="menu-item{% if topLevelLink.navigationLinkHighlight %} highlighted{% endif %}{% if topLevelLink.children|length %} is-parent{% endif %}">
            <a href="{{ topLevelLink.navigationLink.getUrl() }}"{% if topLevelLink.navigationLink.getTarget()|length %} target="{{ topLevelLink.navigationLink.getTarget() }}"{% endif %}>
                {{ topLevelLink.navigationLink.getText() }}
                {% if topLevelLink.children|length %}<span data-feather="chevron-down"></span>{% endif %}
            </a>

            {# Dropdown menu items - if dropdown menu has nested children, display as mega-menu #}
            {% if topLevelLink.children|length %}
            {% set submenuHasChildren = false %}
            {% for item in topLevelLink.children if not submenuHasChildren %}
                {% if item.children|length %}
                    {% set submenuHasChildren = true %}
                {% endif %}
            {% endfor %}
            <ul class="menu {% if submenuHasChildren %}{# mega-menu #}dropdown-menu{% else %}dropdown-menu{% endif %}">
                {% for item in topLevelLink.children %}
                    {% if item.level == 2 %}
                        <li class="dropdown-menu-item{% if item.children|length %} is-parent{% endif %}">
                            <a href="{{ item.navigationLink.getUrl() }}"{% if item.navigationLink.getTarget()|length %} target="{{ item.navigationLink.getTarget() }}"{% endif %}>
                                {{ item.navigationLink.getText() }}
                                {% if item.children|length %}<span data-feather="chevron-right"></span>{% endif %}
                            </a>
                            
                            {# Further nested items #}
                            {% if item.children|length %}
                                <ul class="menu nested-dropdown-menu">
                                {% for child in item.children %}
                                    <li class="dropdown-menu-item">
                                        <a href="{{ child.navigationLink.getUrl() }}"{% if child.navigationLink.getTarget()|length %} target="{{ child.navigationLink.getTarget() }}"{% endif %}>
                                            {{ child.navigationLink.getText() }}
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </li>

                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>