{# Contact Form Block #}
{% set block_type = "contact_form" %}

{# Block variable defaults #}
{% set heading = block['heading'] is defined ? block.heading : '' %}
{% set sectionType = block['sectionType'] is defined ? block.sectionType : '' %}
{% set emailAddress = block['emailAddress'] is defined and block.emailAddress|length ? block.emailAddress : siteSettings.emailAddress %}

<section id="permalink-{{ index }}--{{ block.type.handle }}" class="section section--medium section--whitespace {% if sectionType|length %}section--{{ sectionType }}{% endif %} section-{{ block_type}}--block animatable">
    <div class="container" v-if="initialized">
        {% if heading|length %}<div class="form-header"><h2 class="primary--heading">{{ heading }}</h2></div>{% endif %}
        <div class="contact-form-container">
            <validation-form @submit="onSubmit" v-slot="{ errors, values }" :validation-schema="schema" class="contact-form">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                <div class="field-group">
                    <div class="field"><Field as="input" class="input name-input" :class="{ invalid: errors.name }" name="name" type="text" placeholder="Full Name *" required></div>
                </div>
                <div class="field-group">
                <div class="field"><Field as="input" class="input email-input" :class="{ invalid: errors.email }" name="email" type="email" placeholder="Email Address *" required></div>
                    <div class="field"><Field as="input" class="input phone-input" :class="{ invalid: errors.phone }" name="phone" type="tel" placeholder="Phone Number"></div>
                </div>

                <div class="field">
                    <Field as="textarea" class="input message-input" name="body" :class="{ invalid: errors.message }" rows="4" placeholder="What would you like to tell us? *" required></textarea>
                </div>

                <p class="help error" v-if="ajaxError" v-cloak>
                    Sorry, something went wrong, and we couldn't send your message. Please email us at <a href="mailto:{{ siteSettings.emailAddress }}">{{ siteSettings.emailAddress }}</a> directly.
                </p>
                
                <div class="buttons">
                    <button class="button button--primary" :class="{ 'submitting': submitting, 'submitted': submitted}" type="submit" :disabled="submitting">${buttonLabel}</button>
                </div>
            </validation-form>
        </div>
    </div>
</section>