{# Hero Block #}
{% set block_type = "hero" %}

{# Macro Imports #}
{% import '_macros/lazyImager' as LazyImager %}

{# Block variable defaults #}
{% set subheading = block['subheading'] is defined ? block.subheading : '' %}
{% set heading = block['heading'] is defined ? block.heading : '' %}
{% set image = block['image'] is defined ? block.image[0] : null %}
{% set buttons = block.children is defined ? block.children|filter(item => item.type.handle == 'button') : null %}

{% if image %}
  {% set imageOptions = {
    sizes: [
      { width: 2200 },
      { width: 1920 },
      { width: 1366 },
      { width: 768 },
      { width: 360 },
    ],
    alt: image.title,
    ratio: '16:10',
    cover: true,
    wrapImage: false
  } %}
{% endif %}


<section id="permalink-{{ index }}--{{ block.type.handle }}" class="section section--medium section-{{ block_type }}--block section--dark animatable">
  {% if image %}
    <div class="background-container">
      {{ LazyImager.LazyImager(image, imageOptions) }}
    </div>
  {% endif %}
  <div class="container content-container">
    {% if heading|length %}
      <h1 class="page--heading">{{ heading }}</h1>
    {% endif %}
    {% if subheading|length %}
      <p class="subtitle--heading">{{ subheading|replace('|', '<br>')|striptags('<br>')|raw }}</p>
    {% endif %}
    {% if buttons and buttons|length %}
      <div class="buttons">
        {% for button in buttons %}
          {% include "_partials/snippets/button" with {
            title: button.linkField.getText(),
            url: button.linkField.getUrl(),
            target: button.linkField.getTarget(),
            type: button.buttonType,
            isLightbox: button.isLightbox
          } only %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
