{# Icon Text Grid Block #}
{% set block_type = "text_icon_grid" %}

{# Block variable defaults #}
{% set heading = block['heading'] is defined ? block.heading : '' %}
{% set subheading = block['subheading'] is defined ? block.subheading : '' %}
{% set sectionType = block['sectionType'] is defined ? block.sectionType : 'standard' %}
{% set items = block.children is defined ? block.children|filter(item => item.type.handle == 'text_icon_item') : null %}


<section class="section section--medium section--whitespace section-{{ block_type }}--block section--{{ sectionType }} animatable">
    <div class="container">
        {% if subheading|length %}
            <p class="subtitle--heading">{{ subheading }}</p>
        {% endif %}
        {% if heading|length %}
            <h2 class="primary--heading">{{ heading }}</h2>
        {% endif %}

        {% if items|length %}
        <div class="icon-items grid-x grid-margin-x">        
        {% for item in items %}
            {% set iconHeading = item.heading|length ? item.heading : '' %}
            {% set description = item.rtfContent|length ? item.rtfContent : '' %}

            <div class="icon-item cell large-4 medium-6 small-12">
                <div class="icon-container">
                    <div class="icon-background">
                    {% if iconHeading|length %}<span class="icon-text">{{ iconHeading }}</span>{% endif %}
                    </div>
                </div>
                <div class="content-container">
                    {% if description|length %}<div class="item-description content rte">{{ description }}</div>{% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
