{# Image Block #}
{% set block_type = "image" %}

{# Macro Imports #}
{% import '_macros/lazyImager' as LazyImager %}

{# Block variable defaults #}
{% set image = block['image'] is defined ? block.image[0] : null %}
{% set heading = block['heading'] is defined ? block.heading : '' %}
{% set rtfShortContent = block['rtfShortContent'] is defined ? block.rtfShortContent : '' %}

{% if image %}
	{% set imageOptions = {
        sizes: [
            { width: 1920 },
            { width: 1366 },
            { width: 768 },
            { width: 360 },
        ],
        allowUpscale: true,
        alt: image.title,
        background: false,
        cover: false
    } %}
{% endif %}

<section class="section section--small section-{{ block_type}}-block animatable">
    <div class="container container--small">
        {% if heading|length %}
            <h2 class="heading">{{ heading | typogrify(true) }}</h2>
        {% endif %}
        {% if image %}
            <a href="{{ image.url }}" target="_blank" class="image-link">{{ LazyImager.LazyImager(image, imageOptions) }}</a>
        {% endif %}
        {% if rtfShortContent|length %}
            <div class="caption rte">
                {{ rtfShortContent }}
            </div>
        {% endif %}
    </div>
</section>
